body {
    background-color: #261F2D;
}

.Name {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.Navbar {
    font-family: 'Times New Roman';
    font-size: medium;
}

.Contact {
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

.Contacts {
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Story {
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

section {
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Skills{
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

ul {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Projects {
    color: #F3F4F5;
    font-family: 'Times New Roman'
}

strong {
    color: #F3F4F5;
}

u {
    color: #F3F4F5;
}

.ContactInfo {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.Interests {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.PhoneInfo {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: medium;
}



