body {
    background-color: #261F2D;

}

.Name {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

nav{
    position: relative;
    top: 0;
    width: 100%;
    top: 0;
}

.Navbar{
    font-family: 'Times New Roman';
    font-size: large;
    list-style-type: none;
    margin: 1;
    padding: 10;
    position: relative;
    top:0;
    overflow: hidden;
    background-color:#94A7C7;
    height:auto;
}

.Navbar li{
    float: left;
    border-right: 1px solid #475671;
    border-right: none;
    
}

.Navbar li a{
    display: block;
    color: #3b395c;
    text-align: center;
    padding: 14px 150px;
    text-decoration: none;
}


.Contact {
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

.Contacts {
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Photo {
    display: inline-block;
    border-radius: 40%;
    width: 100px;
    height: 150px;
}

.Story {
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

.column{
    float: left;
    width: 28%;
    padding: 10px 30px
}
.row:after{
    content: "";
    display: table;
    clear:both;
}

.Bio {
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Skills{
    color: #F3F4F5;
    font-family: 'Times New Roman';
}

.Skilllist {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Skilllist strong{
    color: #8097A3;
}

.Projects {
    color: #F3F4F5;
    font-family: 'Times New Roman'
}

.Projectlist{
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Projectlist strong {
    color: #F3F4F5;
}

u {
    color: #F3F4F5;
}

.ContactInfo {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.Interests {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-large;
}

.PhoneInfo {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: medium;
}

footer {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: xx-small;
}

.Interestlist {
    color: #8097A3;
    font-family: 'Times New Roman';
    font-size: medium;
}

.Interestlist strong {
    color: #F3F4F5;
    font-family: 'Times New Roman';
    font-size: medium;
}

